<!-- <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-table">
    <ng-container matColumnDef="tableNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Table Number</th>
      <td mat-cell *matCellDef="let element">{{ element.tableNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="numberOfSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Seat</th>
      <td mat-cell *matCellDef="let element">{{ element.numberOfSeats }}</td>
    </ng-container>

    <ng-container matColumnDef="isOccupied">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Booking Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.isOccupied ? "Booked" : "Available" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="employees">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employees</th>
      <td mat-cell *matCellDef="let element">
        <div class="employee-buttons">
          <div *ngFor="let employee of element.employees">
            <button
              type="button"
              class="btn employee-btn my-1"
              (click)="openConfirmationDialog(employee.employeeTableId)"
            >
              {{ employee.name }}
              <span class="btn-label">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="red"
                  class="bi bi-dash-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                  />
                  <path
                    d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"
                  />
                </svg>
              </span>
            </button>
          </div>
          <button
            type="button"
            class="btn plus-btn"
            (click)="
              openAssignDialog(element.id, element.numberOfSeats, element.image)
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="green"
              class="bi bi-plus-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
              />
            </svg>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let element">
        <div>
          <a (click)="onDeleteTable(element.id)" class="delete-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              class="bi bi-trash3-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
              />
            </svg>
          </a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div> -->
<div
  *ngIf="!isFoundData"
  style="
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <h1>No Data Found</h1>
</div>
<div *ngIf="isFoundData" class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="tableNumber">
      <mat-header-cell *matHeaderCellDef>Table Number </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Table Number:</span>
        {{ element.tableNumber }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numberOfSeats">
      <mat-header-cell *matHeaderCellDef>Total Seat </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Total Seat:</span>
        {{ element.numberOfSeats }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="isOccupied">
      <mat-header-cell *matHeaderCellDef>Booking Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Booking Status:</span>

        {{ element.isOccupied ? "Booked" : "Available" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employees">
      <mat-header-cell *matHeaderCellDef>Employees</mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-label">
        <span class="mobile-label">Employees:</span>
        <div class="employee-buttons">
          <div *ngFor="let employee of element.employees">
            <button
              type="button"
              class="btn employee-btn my-1 w-100"
              (click)="openConfirmationDialog(employee.employeeTableId)"
            >
              {{ employee.name.split(" ")[0] }}
              <span class="btn-label">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="red"
                  class="bi bi-dash-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                  />
                  <path
                    d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"
                  />
                </svg>
              </span>
            </button>
          </div>
          <button
            type="button"
            class="btn plus-btn"
            (click)="
              openAssignDialog(element.id, element.numberOfSeats, element.image)
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="green"
              class="bi bi-plus-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
              />
            </svg>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-bin">
        <div>
          <a (click)="onDeleteTable(element.id)" class="delete-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              class="bi bi-trash3-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
              />
            </svg>
          </a>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      class="mat-header-row"
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>
    <mat-row
      class="mat-row"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>

  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>

<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
