/* Example styles for the table */
table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  margin-bottom: 100px;
}

.circular-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

th {
  color: rgb(200, 50, 50);
  font-weight: 700;
}

.employee-btn {
  background-color: rgba(175, 175, 175, 0.3);
  border-radius: 50px;
}
.employee-btn:hover {
  background-color: rgba(200, 50, 50, 0.2);
  border-radius: 50px;
}

.plus-btn {
  fill: rgba(43, 255, 0, 0.7);
}
.plus-btn:hover {
  fill: rgba(7, 41, 0, 0.7);
  background-color: rgba(43, 255, 0, 0.2);
  border-radius: 40px;
}

.mobile-label {
  display: none;
}

@media (max-width: 767px) {
  .mat-elevation-z8 {
    z-index: -1;
    box-shadow: none;
  }

  .mat-mdc-table {
    background-color: transparent;
  }
  .mobile-label {
    width: 50%;
    display: inline-block;
    font-weight: bold;
  }
  .align-label {
    align-items: stretch;
  }
  .align-bin {
    flex-direction: row-reverse;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
  }
  .mat-mdc-cell {
    border: 0px solid white;
    padding: 0px;
    font-size: large;
  }
}
