<div class="row g-0 mobile-margin-bottom">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <app-info-card
      [countNumber]="employees.length"
      [countType]="'Employees'"
    ></app-info-card>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <app-info-card
      [countNumber]="tables.length"
      [countType]="'Tables'"
    ></app-info-card>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <app-info-card
      [countNumber]="foods.length"
      [countType]="'Foods'"
    ></app-info-card>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <app-info-card
      [countNumber]="orders.length"
      [countType]="'Orders'"
    ></app-info-card>
  </div>
</div>

<!-- <div class="row m-2 d-flex justify-content-start">
      <div class="col-md-4"><app-bar-chart></app-bar-chart></div>
      <div class="col-md-4"><app-bar-chart></app-bar-chart></div>
      <div class="col-md-4"><app-bar-chart></app-bar-chart></div>
    </div>
    <div class="row m-2">
      <div class="col-md-6"><app-bar-chart></app-bar-chart></div>
      <div class="col-md-6"><app-bar-chart></app-bar-chart></div> -->
<!-- </div> -->
